{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Ubah Kata Sandi</title>
    <link rel="stylesheet" href="{% static 'user/css/change-password.css' %}"/>
    <link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Ubah Kata Sandi</h1>
            <section>
                <form action="post-change-password" method="post" id="form">
                    {% csrf_token %}
                    
                    <!-- <div class = "input-password">
                        <input type="password" id="password" name="old-password" placeholder="Kata Sandi Lama" >
                        <span class="sneak-toggle">
                            <i class="fa-solid fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i>
                        </span>
                    </div> -->

                    <div class = "input-password">
                        <input type="password" id="retype-password" name="new-password" placeholder="Kata Sandi Baru" >
                        <span class="sneak-toggle">
                            <i class="fa-solid fa-eye" aria-hidden="true" id="eye" onclick="toggle2()"></i>
                        </span>
                    </div>

                    <div class = "input-password">
                        <input type="password" id="retype2-password" name="retype-new-password" placeholder="Ketik Ulang Kata Sandi Baru" >
                        <span class="sneak-toggle">
                            <i class="fa-solid fa-eye" aria-hidden="true" id="eye" onclick="toggle3()"></i>
                        </span>
                    </div>

                    <br/>
                    <button type="submit" class="button" value="SignIn" id="submitbutton">G A N T I</button>
                </form>

                <div class="filler"></div>

        </div>
        <object class="object only-desktop" data="{% static 'User/svg/Reset password-pana.svg' %}" type="image/svg+xml" style="padding-top: 50px; padding-bottom: 10px;"></object>
    </div>
    <script>
        var state= false;
        function toggle(){
            if(state){
                document.getElementById("password").setAttribute("type", "password");
                document.getElementById("eye").style.color='#7a797e';
                state=false;
            }
            else{
                document.getElementById("password").setAttribute("type", "text");
                state=true;
            }
        }
        var state2 = false;
        function toggle2(){
            if(state2){
                document.getElementById("retype-password").setAttribute("type", "password");
                document.getElementById("eye").style.color='#7a797e';
                state2=false;
            }
            else{
                document.getElementById("retype-password").setAttribute("type", "text");
                state2=true;
            }
        }
        var state3= false;
        function toggle3(){
            if(state){
                document.getElementById("retype2-password").setAttribute("type", "password");
                document.getElementById("eye").style.color='#7a797e';
                state=false;
            }
            else{
                document.getElementById("retype2-password").setAttribute("type", "text");
                state=true;
            }
        }

    </script>
{% endblock content %}
