{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Sebagai Peserta</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}"/>
    <link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Calon Peserta</h1>
            <section>
                <form action="postformkr" method="post" id="form">
                    {% csrf_token %}
                    <label for="nama-lengkap" >Nama Lengkap</label>
                    <input type="text" id="nama-lengkap" name="nama_lengkap" placeholder="Masukkan nama lengkap Anda..."> <br/>

                    <label for="Fakultas" >Fakultas</label>
                    <select id="fakultas" name="fakultas" onchange="showJurusan(this)">
                        <option value="none">--Pilih Fakultas--</option>
                        <option value="fk">Fakultas Kedokteran</option>
                        <option value="fkg">Fakultas Kedokteran Gigi</option>
                        <option value="fkm">Fakultas Kesehatan Masyarakat</option>
                        <option value="ff">Fakultas Farmasi</option>
                        <option value="fik">Fakultas Ilmu Keperawatan</option>
                        <option value="fmipa">Fakultas Matematika dan Ilmu Pengetahuan Alam</option>
                        <option value="fasilkom">Fakultas Ilmu Komputer</option>
                        <option value="ft">Fakultas Teknik</option>
                        <option value="fh">Fakultas Hukum</option>
                        <option value="fpsiko">Fakultas Psikologi</option>
                        <option value="fisip">Fakultas Ilmu Sosial Ilmu Politik</option>
                        <option value="fib">Fakultas Ilmu Pengetahuan Budaya</option>
                        <option value="feb">Fakultas Ekonomi Bisnis</option>
                        <option value="fia">Fakultas Ilmu Administrasi</option>
                        <option value="vokasi">Vokasi</option>
                    </select><br/>

                    <label for="jurusan" >Jurusan</label>
                    <div id="jurusan">
                        <select id="jurusan-fk" type="hidden">
                            <option value=100>Ilmu Kedokteran</option>
                        </select>
                        <select id="jurusan-fkg" type="hidden">
                            <option value=200>Kedokteran Gigi</option>
                        </select>
                        <select id="jurusan-fkm" type="hidden">
                            <option value=300>Gizi</option>
                            <option value=301>Kesehatan Lingkungan</option>
                            <option value=302>Keselamatan dan Kesehatan Kerja</option>
                            <option value=303>Kesehatan Masyarakat</option>
                        </select>
                        <select id="jurusan-ff" type="hidden">
                            <option value=400>Koorbid Internal</option>
                        </select>
                        <select id="jurusan-fik" type="hidden">
                            <option value=500>Ilmu Keperawatan</option>
                        </select>
                        <select id="jurusan-fmipa" type="hidden">
                            <option value=600>Matematika</option>
                            <option value=601>Kimia</option>
                            <option value=602>Fisika</option>
                            <option value=603>Biologi</option>
                            <option value=604>Geografi</option>
                            <option value=605>Geofisika</option>
                            <option value=606>Geologi</option>
                            <option value=607>Statistika</option>
                            <option value=608>Aktuaria</option>
                        </select>
                        <select id="jurusan-fasilkom" type="hidden">
                            <option value=700>Ilmu Komputer</option>
                            <option value=701>Sistem Informasi</option>
                        </select>
                        <select id="jurusan-ft" type="hidden">
                            <option value=800>Teknik Sipil</option>
                            <option value=801>Teknik Lingkungan</option>
                            <option value=802>Teknik Mesin</option>
                            <option value=803>Teknik Perkapalan</option>
                            <option value=804>Teknik Elektro</option>
                            <option value=805>Teknik Komputer</option>
                            <option value=806>Arsitektur</option>
                            <option value=807>Teknik Metalurgi dan Material</option>
                            <option value=808>Arsitektur Interior</option>
                            <option value=809>Biro Keuangan</option>
                        </select>
                        <select id="jurusan-fh" type="hidden">
                            <option value=900>Ilmu Hukum</option>
                        </select>
                        <select id="jurusan-fisip" type="hidden">
                            <option value=1000>Ilmu Komunikasi</option>
                            <option value=1001>Ilmu Politik</option>
                            <option value=1002>Kriminologi</option>
                            <option value=1003>Sosiologi</option>
                            <option value=1004>Ilmu Kesejahteraan Sosial</option>
                            <option value=1005>Antropologi Sosial</option>
                            <option value=1006>Hubungan Internasional</option>
                        </select>
                        <select id="jurusan-fib" type="hidden">
                            <option value=1100>Arkeologi</option>
                            <option value=1101>Sejarah</option>
                            <option value=1102>Ilmu Filsafat</option>
                            <option value=1103>Ilmu Perpustakaan</option>
                            <option value=1104>Bahasa dan Kebudayaan Korea</option>
                            <option value=1105>Sastra Belanda</option>
                            <option value=1106>Sastra Cina</option>
                            <option value=1107>Sastra Indonesia</option>
                            <option value=1108>Sastra Jawa/Daerah</option>
                            <option value=1109>Sastra Jepang</option>
                            <option value=1110>Sastra Jerman</option>
                            <option value=1111>Sastra Inggris</option>
                            <option value=1112>Sastra Prancis</option>
                            <option value=1113>Sastra Rusia</option>
                            <option value=1114>Sastra Arab</option>
                        </select>
                        <select id="jurusan-feb" type="hidden">
                            <option value=1200>Ilmu Ekonomi</option>
                            <option value=1201>Manajemen</option>
                            <option value=1202>Akuntansi</option>
                            <option value=1203>Ilmu Ekonomi Islam</option>
                            <option value=1204>Bisnis Islam</option>
                        </select>
                        <select id="jurusan-fia" type="hidden">
                            <option value=1300>Ilmu Administrasi Negara</option>
                            <option value=1301>Ilmu Administrasi Niaga</option>
                            <option value=1302>Ilmu Administrasi Fiskal</option>
                        </select>
                        <select id="jurusan-vokasi" type="hidden">
                            <option value=1400>Administrasi Asuransi dan Aktuaria</option>
                            <option value=1401>Administrasi Keuangan dan Perbankan</option>
                            <option value=1402>Administrasi Perkantoran dan Sekretari</option>
                            <option value=1403>Administrasi Perpajakan</option>
                            <option value=1404>Fisioterapi</option>
                            <option value=1405>Hubungan Masyarakat</option>
                            <option value=1406>Manajemen Informasi dan Dokumentasi</option>
                            <option value=1407>Vokasional Pariwisata</option>
                            <option value=1408>Okupasi Terapi</option>
                            <option value=1409>Penyiaran Multimedia</option>
                            <option value=1410>Periklanan Kreatif</option>
                            <option value=1411>Akuntansi</option>
                            <option value=1412>Administrasi Perumahsakitan</option>
                        </select>
                    </div>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Masukkan alamat email Anda..."><br/>

                    <label for="npm">NPM</label>
                    <input type="number" id="npm" name="npm" placeholder="Masukkan NPM Anda..."><br/>

                    <label for="password">Kata Sandi</label>
                    <input type="password" id="password" name="password" placeholder="Masukkan kata sandi..."><br/>

                    <label for="retype-password">Ulangi Kata Sandi</label>
                    <input type="password" id="retype-password" name="retype-password" placeholder="Masukkan ulang kata sandi..."><br/>

                    <label class="control-label">Unggah Pas Foto</label>
                    <div class="uppy" id="drag-drop-area"></div>

                    <div class="filler"></div>

                    <input name="uploadFiles" type="hidden">

                </form>

                <p>Sudah punya akun?  <a href="login" style="text-decoration: none; color: #1C5188;">Masuk sekarang</a><p>
               
                <button type="button" class="button" id="submitbutton">DAFTAR</button>

                <div class="filler"></div>

                <!-- Script upload ke Bukti Pembayaran-->
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
                <script>
                    var uppy = new Uppy.Core()

                    uppy.on('file-added', (file) => {
                        uppy.setFileMeta(file.id, {
                            id_firebase: "KEUANGAN_REIMBURSE/BUKTI_PEMBAYARAN/" + uuidv4(),
                        })
                    })
                    uppy.use(Uppy.XHRUpload, {
                        endpoint: '',
                        headers: {'X-CSRFToken':"{{csrf_token}}"},
                        formData: true,
                        fieldName: 'file'
                    })
                    uppy.use(Uppy.Dashboard, {
                        inline: true,
                        target: '#drag-drop-area',
                        proudlyDisplayPoweredByUppy:false,
                        showProgressDetails:true,
                        doneButtonHandler: null,
                        hideUploadButton: true,
                    })
                    uppy.on('complete', (result) => {
                        console.log('Upload complete! We’ve uploaded these files:', result.successful)
                    })
                    uppy.use(Uppy.Form, {
                        target: "#form",
                        resultName: 'uploadFiles',
                        getMetaFromForm: false,
                        addResultToForm: true,
                        submitOnSuccess: true,
                        triggerUploadOnSubmit: false,
                    })
                </script>
                <script type="application/javascript" src="{% static 'user/js/dropdown-jurusan.js' %}"></script>
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
                <script>
                    $('select option:first-child').attr("selected", "selected");
                </script>
            </section>
        </div>
    <object class="object only-desktop" data="{% static 'User/svg/Sign up-pana 1.svg' %}" type="image/svg+xml"></object>
    </div>
{% endblock content %}
