{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Daftar Sebagai Peserta</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}"/>
    <link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Calon Peserta</h1>
            <section>
                <form action="postformkr" method="post" id="form">
                    {% csrf_token %}
                    <label for="nama-lengkap" >Nama Lengkap</label>
                    <input type="text" id="nama-lengkap" name="nama_lengkap" placeholder="Masukkan nama lengkap Anda..."> <br/>

                    <label for="Fakultas" >Fakultas</label>
                    <input type="text" id="fakultas" name="fakultas" placeholder="Masukkan asal fakultas Anda"><br/>

                    <label for="jurusan">Jurusan</label>
                    <input type="text" id="jurusan" name="jurusan" placeholder="Masukkan jurusan Anda..."><br/>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Masukkan alamat email Anda..."><br/>

                    <label for="npm">NPM</label>
                    <input type="number" id="npm" name="npm" placeholder="Masukkan NPM Anda..."><br/>

                    <label for="password">Kata Sandi</label>
                    <input type="password" id="password" name="password" placeholder="Masukkan kata sandi..."><br/>

                    <label for="retype-password">Ulangi Kata Sandi</label>
                    <input type="password" id="retype-password" name="retype-password" placeholder="Masukkan ulang kata sandi..."><br/>

                    <label class="control-label">Unggah Pas Foto</label>
                    <div class="uppy" id="drag-drop-area"></div>

                    <div class="filler"></div>

                    <input name="uploadFiles" type="hidden">

                </form>

                <p>Sudah punya akun?  <a href="user/login" style="text-decoration: none; color: #1C5188;">Masuk sekarang</a><p>
               
                <button type="button" class="button" id="submitbutton">DAFTAR</button>

                <div class="filler"></div>

                <!-- Script upload ke Bukti Pembayaran-->
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
                <script>
                    var uppy = new Uppy.Core()

                    uppy.on('file-added', (file) => {
                        uppy.setFileMeta(file.id, {
                            id_firebase: "KEUANGAN_REIMBURSE/BUKTI_PEMBAYARAN/" + uuidv4(),
                        })
                    })
                    uppy.use(Uppy.XHRUpload, {
                        endpoint: '',
                        headers: {'X-CSRFToken':"{{csrf_token}}"},
                        formData: true,
                        fieldName: 'file'
                    })
                    uppy.use(Uppy.Dashboard, {
                        inline: true,
                        target: '#drag-drop-area',
                        proudlyDisplayPoweredByUppy:false,
                        showProgressDetails:true,
                        doneButtonHandler: null,
                        hideUploadButton: true,
                    })
                    uppy.on('complete', (result) => {
                        console.log('Upload complete! We’ve uploaded these files:', result.successful)
                    })
                    uppy.use(Uppy.Form, {
                        target: "#form",
                        resultName: 'uploadFiles',
                        getMetaFromForm: false,
                        addResultToForm: true,
                        submitOnSuccess: true,
                        triggerUploadOnSubmit: false,
                    })
                </script>
                <script type="application/javascript" src="{% static 'reimbursement/js/scripts.js' %}"></script>
                <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
            </section>
        </div>
    <object class="object only-desktop" data="{% static 'User/svg/Sign up-pana 1.svg' %}" type="image/svg+xml"></object>
    </div>
{% endblock content %}
