{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Masuk</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}"/>
    <link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Email Kamu Belum Terverifikasi :(</h1>
            <section>
                <form action="post-email-verify" method="post" id="form">
                    {% csrf_token %}
                    <button type="submit" class="button" value="SignIn" id="submitbutton">Verifikasi Email Kamu</button>
                </form>

                <div class="filler"></div>

        </div>
        <object class="object only-desktop" data="{% static 'User/svg/Confirmed-rafiki.svg' %}" type="image/svg+xml" style="padding-top: 50px; padding-bottom: 10px;"></object>
    </div>
{% endblock content %}
