{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Masuk</title>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}"/>
    <link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet"/>
{% endblock meta %}

{% block content %}
    <div class="content-root">
        <div class="form-root">
            <h1 id="judul-form">Masuk</h1>
            <section>
                <form action="postsignin" method="post" id="form">
                    {% csrf_token %}
                    
                    <input type="email" id="email" name="email" placeholder="Email"><br/>

                    <input type="password" id="password" name="password" placeholder="Kata Sandi"><br/>

                    <p>Belum punya akun?  
                        <a href="/#jump-daftar" style="text-decoration: none; color: #1C5188;">Daftar sekarang</a>
                        <a href="/#jump-daftar" style="text-decoration: none; color: #1C5188; float: right;">Lupa Kata Sandi?</a>
                    <p>
                    <button type="submit" class="button" value="SignIn" id="submitbutton">MASUK</button>
                </form>

                <div class="filler"></div>

        </div>
        <object class="object only-desktop" data="{% static 'User/svg/Tablet login-pana 1.svg' %}" type="image/svg+xml" style="padding-top: 50px; padding-bottom: 10px;"></object>
    </div>
{% endblock content %}
