{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'base/img/favicon.png' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="application/javascript" src="{% static 'base/js/script.js' %}"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
    <nav>
        <div class="logo">SPT BEM UI 2022</div>
        <ul>
            <li><a href="">Daftar</a></li>
            <li><a href="">Perekrutan Terbuka</a></li> 
            <li><a href="">Dashboard</a></li>
            <li><a href=""><img src="{% static 'base/svg/user-solid.svg' %}" style="height:1rem; margin-right: 0.5rem; ">User</a></li>
            <li><a href=""><img src="{% static 'base/svg/right-from-bracket-solid.svg' %}" style="height:1rem; "></a></li>
        </ul>
    </nav>

 <!-- <header {% if '/' == request.path %}class="header-transparent"{% else %}class="header-white"{% endif %}>
        <a href="" class="logo"><img src="{% static 'base/img/logo-biro-jodoh.png' %}" style="width:8.75rem; height:3.5rem;"></a>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">

        <nav>
            <ul>
                <li><a href="#puncak">Daftar</a></li>
                <li><a href="">Perekrutan Terbuka</a></li>
                <li><a href="">Dashboard</a></li>
                <li class="nav-only-desktop">
                    <a href="" class="button fit-content" style="height: fit-content; margin: 0; padding: 0.6em 1em;">Masuk</a>
                </li>
                <div class="nav-dropdown-buttons nav-only-mobile">
                    <a href="" class="nav-only-mobile button btn-dashboard">
                        Masuk
                    </a>
                </div>
                <li><a href="#"><i class="fa fa-fw fa-user"></i>Akun</a></li>
                <li><a href="#"><i class="fa fa-fw fa-sign-out"></i>Logout</a></li> 
            </ul>
        </nav>

        <label for="nav-toggle" class="nav-toggle-label" id="nav-toggle-label"><span></span></label>

    </header> -->

    <div class="content-container">
       {% block content %}
        {% endblock content %}
    </div>

    <footer class="footer">
        <div class="footer-left">
            <div class="logo-spt">
                <img src="{% static 'base/img/logo-biro-jodoh.png' %}"alt="">
            </div>
            <p id="mulmed-tag">@ 2022 Badan Eksekutif Mahasiswa - Biro Multimedia</p>
        </div>

        <div class="footer-center">
            <!-- <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Indonesia</span> Sumatera Barat, Padang</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+62 077-777-77</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">support@gmail.com</a></p>
            </div> -->
        </div>

        <div class="footer-right">
            <div class="footer-media">
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>

    </footer>

</body>

</html>