{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Sebagai Peserta</title>
<link rel="stylesheet" href="{% static 'user_peserta/css/style.css' %}" />
<link href="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="content-root">
    <div class="form-root">
        <h1 id="judul-form">Calon Peserta</h1>
        <section>
            <form action="postsignup" method="post" id="form">
                {% csrf_token %}
                <label for="nama-lengkap">Nama Lengkap</label>
                <input type="text" id="nama-lengkap" name="nama_lengkap" placeholder="Masukkan nama lengkap Anda..."
                    required>
                <br />

                <label for="Fakultas">Fakultas</label>
                <select id="fakultas" name="fakultas" onchange="showJurusan(this)">
                    <option value="none">--Pilih Fakultas--</option>
                    <option value="Fakultas Kedokteran">Fakultas Kedokteran</option>
                    <option value="Fakultas Kedokteran Gigi">Fakultas Kedokteran Gigi</option>
                    <option value="Fakultas Kesehatan Masyarakat">Fakultas Kesehatan Masyarakat</option>
                    <option value="Fakultas Farmasi">Fakultas Farmasi</option>
                    <option value="Fakultas Ilmu Keperawatan">Fakultas Ilmu Keperawatan</option>
                    <option value="Fakultas Matematika dan Ilmu Pengetahuan Alam">Fakultas Matematika dan Ilmu
                        Pengetahuan Alam</option>
                    <option value="Fakultas Ilmu Komputer">Fakultas Ilmu Komputer</option>
                    <option value="Fakultas Teknik">Fakultas Teknik</option>
                    <option value="Fakultas Hukum">Fakultas Hukum</option>
                    <option value="Fakultas Psikologi">Fakultas Psikologi</option>
                    <option value="Fakultas Ilmu Sosial Ilmu Politik">Fakultas Ilmu Sosial Ilmu Politik</option>
                    <option value="Fakultas Ilmu Pengetahuan Budaya">Fakultas Ilmu Pengetahuan Budaya</option>
                    <option value="Fakultas Ekonomi Bisnis">Fakultas Ekonomi Bisnis</option>
                    <option value="Fakultas Ilmu Administrasi">Fakultas Ilmu Administrasi</option>
                    <option value="Vokasi">Vokasi</option>
                </select> <br />

                <label for="jurusan" id="label-jurusan" style="display: none;">Jurusan</label>
                <div id="jurusan" style="display: none;">
                    <select id="jurusan-fk" name="jurusan">
                        <option value="Ilmu Kedokteran">Ilmu Kedokteran</option>
                    </select>
                    <select id="jurusan-fkg" name="jurusan">
                        <option value="Kedokteran Gigi">Kedokteran Gigi</option>
                    </select>
                    <select id="jurusan-fkm" name="jurusan">
                        <option value="Gizi">Gizi</option>
                        <option value="Kesehatan Lingkungan">Kesehatan Lingkungan</option>
                        <option value="Keselamatan dan Kesehatan Kerja">Keselamatan dan Kesehatan Kerja</option>
                        <option value="Kesehatan Masyarakat">Kesehatan Masyarakat</option>
                    </select>
                    <select id="jurusan-ff" name="jurusan">
                        <option value="Ilmu Farmasi">Ilmu Farmasi</option>
                    </select>
                    <select id="jurusan-fik" name="jurusan">
                        <option value="Ilmu Keperawatan">Ilmu Keperawatan</option>
                    </select>
                    <select id="jurusan-fmipa" name="jurusan">
                        <option value="Matematika">Matematika</option>
                        <option value="Kimia">Kimia</option>
                        <option value="Fisika">Fisika</option>
                        <option value="Biologi">Biologi</option>
                        <option value="Geografi">Geografi</option>
                        <option value="Geofisika">Geofisika</option>
                        <option value="Geologi">Geologi</option>
                        <option value="Statistika">Statistika</option>
                        <option value="Aktuaria">Aktuaria</option>
                    </select>
                    <select id="jurusan-fasilkom" name="jurusan">
                        <option value="Ilmu Komputer">Ilmu Komputer</option>
                        <option value="Sistem Informasi">Sistem Informasi</option>
                    </select>
                    <select id="jurusan-ft" name="jurusan">
                        <option value="Teknik Sipil">Teknik Sipil</option>
                        <option value="Teknik Lingkungan">Teknik Lingkungan</option>
                        <option value="Teknik Mesin">Teknik Mesin</option>
                        <option value="Teknik Perkapalan">Teknik Perkapalan</option>
                        <option value="Teknik Elektro">Teknik Elektro</option>
                        <option value="Teknik Komputer">Teknik Komputer</option>
                        <option value="Teknik Kimia">Teknik Kimia</option>
                        <option value="Teknik Bioproses">Teknik Bioproses</option>
                        <option value="Teknik Industri">Teknik Industri</option>
                        <option value="Teknik Biomedik">Teknik Biomedik</option>
                        <option value="Arsitektur">Arsitektur</option>
                        <option value="Teknik Metalurgi dan Material">Teknik Metalurgi dan Material</option>
                        <option value="Arsitektur Interior">Arsitektur Interior</option>
                    </select>
                    <select id="jurusan-fh" name="jurusan">
                        <option value="Ilmu Hukum">Ilmu Hukum</option>
                    </select>
                    <select id="jurusan-fpsiko" name="jurusan">
                        <option value="Ilmu Psikologi">Ilmu Psikologi</option>
                    </select>
                    <select id="jurusan-fisip" name="jurusan">
                        <option value="Ilmu Komunikasi">Ilmu Komunikasi</option>
                        <option value="Ilmu Politik">Ilmu Politik</option>
                        <option value="Kriminologi">Kriminologi</option>
                        <option value="Sosiologi">Sosiologi</option>
                        <option value="Ilmu Kesejahteraan Sosial">Ilmu Kesejahteraan Sosial</option>
                        <option value="Antropologi Sosial">Antropologi Sosial</option>
                        <option value="Hubungan Internasional">Hubungan Internasional</option>
                    </select>
                    <select id="jurusan-fib" name="jurusan">
                        <option value="Arkeologi">Arkeologi</option>
                        <option value="Sejarah">Sejarah</option>
                        <option value="Ilmu Filsafat">Ilmu Filsafat</option>
                        <option value="Ilmu Perpustakaan">Ilmu Perpustakaan</option>
                        <option value="Bahasa dan Kebudayaan Korea">Bahasa dan Kebudayaan Korea</option>
                        <option value="Sastra Belanda">Sastra Belanda</option>
                        <option value="Sastra Cina">Sastra Cina</option>
                        <option value="Sastra Indonesia">Sastra Indonesia</option>
                        <option value="Sastra Jawa/Daerah">Sastra Jawa/Daerah</option>
                        <option value="Sastra Jepang">Sastra Jepang</option>
                        <option value="Sastra Jerman">Sastra Jerman</option>
                        <option value="Sastra Inggris">Sastra Inggris</option>
                        <option value="Sastra Prancis">Sastra Prancis</option>
                        <option value="Sastra Rusia">Sastra Rusia</option>
                        <option value="Sastra Arab">Sastra Arab</option>
                    </select>
                    <select id="jurusan-feb" name="jurusan">
                        <option value="Ilmu Ekonomi">Ilmu Ekonomi</option>
                        <option value="Manajemen">Manajemen</option>
                        <option value="Akuntansi">Akuntansi</option>
                        <option value="Ilmu Ekonomi Islam">Ilmu Ekonomi Islam</option>
                        <option value="Bisnis Islam">Bisnis Islam</option>
                    </select>
                    <select id="jurusan-fia" name="jurusan">
                        <option value="Ilmu Administrasi Negara">Ilmu Administrasi Negara</option>
                        <option value="Ilmu Administrasi Niaga">Ilmu Administrasi Niaga</option>
                        <option value="Ilmu Administrasi Fiskal">Ilmu Administrasi Fiskal</option>
                    </select>
                    <select id="jurusan-vokasi" name="jurusan">
                        <option value="Administrasi Asuransi dan Aktuaria">Administrasi Asuransi dan Aktuaria</option>
                        <option value="Administrasi Keuangan dan Perbankan">Administrasi Keuangan dan Perbankan</option>
                        <option value="Administrasi Perkantoran dan Sekretari">Administrasi Perkantoran dan Sekretari
                        </option>
                        <option value="Administrasi Perpajakan">Administrasi Perpajakan</option>
                        <option value="Fisioterapi">Fisioterapi</option>
                        <option value="Hubungan Masyarakat">Hubungan Masyarakat</option>
                        <option value="Manajemen Informasi dan Dokumentasi">Manajemen Informasi dan Dokumentasi</option>
                        <option value="Vokasional Pariwisata">Vokasional Pariwisata</option>
                        <option value="Okupasi Terapi">Okupasi Terapi</option>
                        <option value="Penyiaran Multimedia">Penyiaran Multimedia</option>
                        <option value="Periklanan Kreatif">Periklanan Kreatif</option>
                        <option value="Akuntansi">Akuntansi</option>
                        <option value="Administrasi Perumahsakitan">Administrasi Perumahsakitan</option>
                        <option value="Produksi Media">Produksi Media</option>
                        <option value="Bisnis Kreatif">Bisnis Kreatif</option>
                    </select>
                </div>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Masukkan alamat email Anda..." required><br />

                <label for="npm">NPM</label>
                <input type="text"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="npm"
                    name="npm" placeholder="Masukkan NPM Anda..." maxlength="10" required /> <br />

                <label for="password">Kata Sandi</label>
                <div class="input-password">
                    <input type="password" id="password" name="password" placeholder="Masukkan kata sandi..." required>
                    <span class="sneak-toggle">
                        <i class="fa-solid fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i>
                    </span>
                </div>
                <br />

                <label for="retype-password">Ulangi Kata Sandi</label>
                <div class="input-password">
                    <input type="password" id="retype-password" name="retype-password"
                        placeholder="Masukkan ulang kata sandi..." required>
                    <span class="sneak-toggle">
                        <i class="fa-solid fa-eye" aria-hidden="true" id="eye" onclick="toggle2()"></i>
                    </span>
                </div>
                <br />

                <label class="control-label">Unggah Pas Foto</label>
                <div class="uppy" id="drag-drop-area"></div>

                <div class="filler"></div>

                <input name="uploadFiles" type="hidden">

            </form>

            <p>Sudah punya akun? <a href="signin" style="text-decoration: none; color: #1C5188;">Masuk sekarang</a>
            <p>

                <button type="button" class="button" id="submitbutton">DAFTAR</button>

            <div class="filler"></div>
            <!-- Script upload ke Foto Peserta-->
            <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
            <script>
                var uppy = new Uppy.Core({
                    restrictions: {
                        maxNumberOfFiles: 1,
                        allowedFileTypes: [".jpg", ".jpeg", ".png"],
                    },
                })

                uppy.on('file-added', (file) => {
                    uppy.setFileMeta(file.id, {
                        id_firebase: "USER_PESERTA/PAS_FOTO/" + uuidv4(),
                    })
                })
                uppy.use(Uppy.XHRUpload, {
                    endpoint: '{% url "upload_photo" %}',
                    headers: { 'X-CSRFToken': "{{csrf_token}}" },
                    formData: true,
                    fieldName: 'file'
                })
                uppy.use(Uppy.Dashboard, {
                    inline: true,
                    target: '#drag-drop-area',
                    proudlyDisplayPoweredByUppy: false,
                    showProgressDetails: true,
                    doneButtonHandler: null,
                    hideUploadButton: true,
                })
                uppy.on('complete', (result) => {
                    console.log('Upload complete! We’ve uploaded these files:', result.successful)
                })
                uppy.use(Uppy.Form, {
                    target: "#form",
                    resultName: 'uploadFiles',
                    getMetaFromForm: false,
                    addResultToForm: true,
                    submitOnSuccess: true,
                    triggerUploadOnSubmit: false,
                })
            </script>
            <script type="application/javascript" src="{% static 'user_peserta/js/dropdown-jurusan.js' %}"></script>
            <script type="application/javascript" src="{% static 'user_peserta/js/uuid4.js' %}"></script>
            <script src="https://releases.transloadit.com/uppy/v2.9.4/uppy.min.js"></script>
            <script>
                $('select option:first-child').attr("selected", "selected");
            </script>
        </section>
        <script>
            var state = false;
            function toggle() {
                if (state) {
                    document.getElementById("password").setAttribute("type", "password");
                    document.getElementById("eye").style.color = '#7a797e';
                    state = false;
                }
                else {
                    document.getElementById("password").setAttribute("type", "text");
                    state = true;
                }
            }
            var state2 = false;
            function toggle2() {
                if (state2) {
                    document.getElementById("retype-password").setAttribute("type", "password");
                    document.getElementById("eye").style.color = '#7a797e';
                    state2 = false;
                }
                else {
                    document.getElementById("retype-password").setAttribute("type", "text");
                    state2 = true;
                }
            }
        </script>
        <script>
            var form = document.getElementById("form");
            // make it required for upload file div
            form.onsubmit = function () {
                var requiredDiv = document.getElementById("drag-drop-area");
                if (requiredDiv.innerHTML.trim().length == 0) {
                    alert("Please upload your photo as well.");
                    return false;
                }
            };
        </script>
    </div>
    <object class="object only-desktop" data="{% static 'user_peserta/svg/Sign up-pana 1.svg' %}"
        type="image/svg+xml"></object>
</div>
{% endblock content %}