
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
    /* width: 100%;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; */
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Navigation */

nav ul li a {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15pt;
    text-decoration: none;
    line-height: 70px;
    padding: 8px 15px;
    color: rgb(28, 81, 136);

}
nav ul li a:hover {
    background: #f8f7f3;
    border-radius: 25px;
    opacity: 7;
    transition: 0.3s;
}
nav {
    background: white;
    border-bottom: 3px solid gray;
    

}
nav::after{
    content: '';
    clear: both;
    display: table;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
}

nav .logo{
    float: left;
    padding-left: 60px;
    padding-top: 20px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30pt;
}